@page
@model ecommerce_Solutech.Pages.CRUD.ProdutoCRUD.AlterarModel
@{
}
<form 
	  method="post"
	  class="mt-3"
	  Enctype="multipart/form-data"
>
	<input asp-for="produto.Id" type="hidden" />

	<label asp-for="produto.Nome" class="control-label">Nome:</label>
	<input class="form-control" asp-for="produto.Nome" />
	<span asp-validation-for="produto.Nome" class="text-danger"></span>
	<br /> 
	<label asp-for="produto.Estoque" class="control-label">Estoque:</label>
	<input class="form-control" asp-for="produto.Estoque" />
	<span asp-validation-for="produto.Estoque" class="text-danger"></span>
	<br /> 
	<label asp-for="produto.Preco" class="control-label">Preco:</label>
	<input class="form-control" asp-for="produto.Nome" />
	<span asp-validation-for="produto.Nome" class="text-danger"></span>
	<br />
	<label asp-for="produto.ItemDoPedidos" class="control-label">Item Do Pedidos:</label>
	<input class="form-control" asp-for="produto.Estoque" />
	<span asp-validation-for="produto.Estoque" class="text-danger"></span>
	<br />
	<br />
	<br />
	<input type="submit" value="Enviar" />

</form>