@page
@model ecommerce_Solutech.Pages.ProdutoCRUD.IncluirModel
@{
}
<h5>
	Incluir Produto
</h5>
<form method="post" class="mt-3" enctype="multipart/form-data">
	<!--CRIA UMA LINHA PARA SER RENDERIZADA-->
	<div class="row">
		<!--CRIA UMA COLUNA QUE IRÁ OCUPAR 4/12 DO TAMANHO DA TELA-->
		<div class="col-6">
			<label asp-for="produto.Nome">Nome:</label>
			<input asp-for="produto.Nome" class="form-control"/>
			<span asp-validation-for="produto.Nome" class="text-danger"></span>
		</div>
	</div>
	<br />
	<div class=" row ">

		<div class="col-4">
			<label asp-for="produto.Estoque">Estoque:</label>
			<input class="form-control" asp-for="produto.Estoque" />
			<span asp-validation-for="produto.Estoque" class="text-danger"></span>
			<br />
		</div>
		<div class="col-4">
			<label asp-for="produto.Preco">Preço:</label>
			<input class="form-control" asp-for="produto.Preco" />
			<span asp-validation-for="produto.Preco" class="text-danger"></span>
			<br />
		</div>
	</divclass>

			</div clas="col-6">
			<label asp-for="ImagemProduto"class="control-label"></label>
			<input asp-for="ImagemProduto"class="custom-file-input"accept="image/*"/>
			<span asp-validation-for="ImagemProduto" class="text-danger"></span>
			<img src="@Model.CaminhoImagem"class="image-thumbnail" asp-append-version="true"/>
			<br />
		</div>

	<div class="col-7">
		<label asp-for="produto.VencimentoProduto">Vencimento do Produto:</label>
		<input class="form-control" asp-for="produto.VencimentoProduto" />
		<span asp-validation-for="produto.VencimentoProduto" class="text-danger"></span>
		<br />
	<br />
	</div>
	<input type="submit" value="Enviar" />

</form>