@page
@model ecommerce_Solutech.Pages.ProdutoCRUD.IncluirModel
@{
}
<h5>
	Incluir Novo Produto
</h5>
<form method="post" class="mt-3" enctype="multipart/form-data">
	<!--CRIA UMA LINHA PARA SER RENDERIZADA-->
		<!--CRIA UMA COLUNA QUE IRÁ OCUPAR 4/12 DO TAMANHO DA TELA-->
	<div class="col-5">
		<label asp-for="produto.Nome">Nome:</label>
		<input asp-for="produto.Nome" class="form-control"/>
		<span asp-validation-for="produto.Nome" class="text-danger"></span>
	</div>
	
	<div class="col-5">	
		<label asp-for="produto.Estoque">Estoque:</label>
		<input class="form-control" asp-for="produto.Estoque" />
		<span asp-validation-for="produto.Estoque" class="text-danger"></span>
	</div>
	<div class="col-5">
		<label asp-for="produto.Preco">Preço:</label>
		<input class="form-control" asp-for="produto.Preco" />
		<span asp-validation-for="produto.Preco" class="text-danger"></span>
	</div>
	<div class="col-5">		
		<label asp-for="ImagemProduto" class="control-label">Imagem do Produto:</label>
		<input class="form-control" asp-for="ImagemProduto" />
		<span asp-validation-for="ImagemProduto" class="text-danger"></span>
    </div>
	<div class="col-5">
		<label asp-for="produto.VencimentoProduto">Vencimento do Produto:</label>
		<input class="form-control" asp-for="produto.VencimentoProduto" />
		<span asp-validation-for="produto.VencimentoProduto" class="text-danger"></span>
	</div>
	<br />
	<br />
	<input type="submit" value="Enviar" />

</form>