@page
@model ecommerce_Solutech.Pages.CRUD.AlterarModel
@{
}
<h5>
	Alterar Dados do Cliente
</h5>
<form method="post">
	<input asp-for="cliente.Id" type="hidden" />

		<div class="col-5">
			 <label asp-for="cliente.Nome"> Nome:</label>
			 <input class="form-control" asp-for="cliente.Nome" />
			 <span asp-validation-for="cliente.Nome" class="text-danger"></span>
		</div>

		<div class="col-5">
			 <label asp-for="cliente.email"> Email:</label>
			<input class="form-control" asp-for="cliente.email" />
			<span asp-validation-for="cliente.email" class="text-danger"></span>
		</div>
	    <div class="col-5">
			<label asp-for="cliente.DataNascimento"> Data de Nascimento:</label>
			<input class="form-control" asp-for="cliente.DataNascimento" />
			<span asp-validation-for="cliente.DataNascimento" class="text-danger"></span>
	    </div>
		<div class="col-5">
			<label asp-for="cliente.telefone"> Telefone:</label>
			<input class="form-control" asp-for="cliente.telefone" />
			<span asp-validation-for="cliente.telefone" class="text-danger"></span>
		</div>
		<div class="col-5">
			<label asp-for="cliente.login"> Login:</label>
			<input class="form-control" asp-for="cliente.login" />
			<span asp-validation-for="cliente.login" class="text-danger"></span>
	    </div>
	    <div class="col-5">
			<label asp-for="cliente.HashSenha"> Senha:</label>
			<input class="form-control" asp-for="cliente.HashSenha" />
			<span asp-validation-for="cliente.HashSenha" class="text-danger"></span>
	    </div>
	<br />
	<input type="submit" value="Enviar" />

</form>
